@import url('https://fonts.googleapis.com/css2?family=Arya&display=swap');

body {
  margin: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  border: none;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: none;
}
